<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.jraf.android.jraforg.main"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="jraf.org" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:path="/" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://JRAF.org/" />
        </activity>
    </application>

</manifest>